:root {
}

html, body {
  margin: 0;
  padding: 0;
}

.bg-orange {
  background-color: var(--bs-orange)!important;
}

.bg-gray {
  background-color: rgba(200,200,205)!important;
}

.left {
  left: -35px;
}

.right {
  right: -35px;
}